* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}



.navbar {
    height: 70px;
    background: #222;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
}


#menuBtn {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;

    background: #00a8cc;
    color: white;

    font-size: 15px;
    cursor: pointer;
}

#menuBtn:hover {
    background: #00a8cc;;
}



.menu {
    width: 280px;

    margin: 30px auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu button {
    padding: 13px;

    border: none;
    border-radius: 6px;

    background: #333;
    color: white;

    font-size: 15px;
    cursor: pointer;
}

.menu button:hover {
    background: #023e4b;
}



.hidden {
    display: none;
}